p { 
    background-color: yellow;
}

#html {
    background-color: #ccc;
    padding: 20px
}

.header {
    color: red;
    font-weight: bold;
}
width: 100%;
max-width: 1000px;
margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 33px;
    margin-left: auto;
background-color: #999;
font-size: 100%;